.pink{
    width: 100%;
    border: 1px solid red;
    background-color: rgb(163, 160, 165);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.pinkbox{
    width: 100%;
    max-width:540px;
    display: inline-block; /* CONTENT MOVED WITH THE WINDOW*/
    margin: 0px 200px;
    border: 1px solid rgb(0, 255, 21);
}

.pinkbox > span {   /*SPAN DO NOT LET ALIGN ITSELF*/
    font-size: 16px;
    font-weight: lighter;
    color: rgb(70, 70, 70);
}

.pinkbox > h3 {
    font-size: 24px;
    font-weight:750;
    color: rgb(0, 0, 0);
    margin-top: 5px;
}

.pinkbox > h4{
    text-align: left;
    font-size: 21px;
    font-weight: 540;
    color: black;
    margin-bottom: 15px;
}

.pinkbox > p {
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(70, 70, 70);
    margin-bottom: 30px;
}

.pinkbox > h5{
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0px;
}

#etiquete {
    background-color: rgba(119, 118, 118, 0.39);
    font-size: 14px;
    font-weight: 500;
}

/* ***********************************  BLACK SIDE*/

.black{
    width: 100%;
    border: 1px solid red;
    background-color: rgb(0, 0, 0);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.blackbox{
    width: 100%;
    max-width:540px;
    display: inline-block; /* CONTENT MOVED WITH THE WINDOW*/
    margin: 0px 200px;
    border: 1px solid rgb(0, 255, 21);
}

.blackbox > span {   /*SPAN DO NOT LET ALIGN ITSELF*/
    font-size: 16px;
    font-weight: lighter;
    color: rgb(70, 70, 70);
    text-align: left;
}

.blackbox > h3 {
    font-size: 24px;
    font-weight:750;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.blackbox > h4{
    text-align: left;
    font-size: 22px;
    font-weight: 540;
    color: rgb(202 179 250);
    margin-top: 0;
    margin-bottom: 15px;
}

.blackbox > p {
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(219, 218, 218);
    margin-bottom: 30px;
    line-height: 28px;
    
}

#spacebt{
    line-height: 26px;
}

/* .pinkbox > h5{
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0px;
} */

.blackbox > a > button {
    float: left;
    color: aliceblue;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(27, 27, 27);
    padding: 18px 35px;
    border-radius: 6px;
    border: solid 1px black;
}

.blackbox > a > button:hover {
    color: black;
    background-color: rgb(204, 204, 204);
    transition-duration: 0.3s;
    box-shadow: 2px 2px 2px 50px gray;

}

