.pink{
    width: 100%;
    border: 1px solid red;
    background-color: rgb(163, 160, 165);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.pinkbox{
    width: 100%;
    max-width:540px;
    display: inline-block; /* CONTENT MOVED WITH THE WINDOW*/
    margin: 0px 200px;
    border: 1px solid rgb(0, 255, 21);
}

.pinkbox > span {   /*SPAN DO NOT LET ALIGN ITSELF*/
    font-size: 16px;
    font-weight: lighter;
    color: rgb(70, 70, 70);
}

.pinkbox > h3 {
    font-size: 24px;
    font-weight:750;
    color: rgb(0, 0, 0);
    margin-top: 5px;
}

.pinkbox > h4{
    text-align: left;
    font-size: 21px;
    font-weight: 540;
    color: black;
    margin-bottom: 15px;
}

.pinkbox > p {
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(70, 70, 70);
    margin-bottom: 30px;
}

.pinkbox > h5{
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0px;
}

#etiquete {
    background-color: rgba(119, 118, 118, 0.39);
    font-size: 14px;
    font-weight: 500;
}

/* ***********************************  BLACK SIDE*/

.black{
    width: 100%;
    border: 1px solid red;
    background-color: rgb(0, 0, 0);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.blackbox{
    width: 100%;
    max-width:540px;
    display: inline-block; /* CONTENT MOVED WITH THE WINDOW*/
    margin: 0px 200px;
    border: 1px solid rgb(0, 255, 21);
}

.blackbox > span {   /*SPAN DO NOT LET ALIGN ITSELF*/
    font-size: 16px;
    font-weight: lighter;
    color: rgb(70, 70, 70);
    text-align: left;
}

.blackbox > h3 {
    font-size: 24px;
    font-weight:750;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.blackbox > h4{
    text-align: left;
    font-size: 22px;
    font-weight: 540;
    color: rgb(202 179 250);
    margin-top: 0;
    margin-bottom: 15px;
}

.blackbox > p {
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(219, 218, 218);
    margin-bottom: 30px;
    line-height: 28px;
    
}

#spacebt{
    line-height: 26px;
}

/* .pinkbox > h5{
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0px;
} */

.blackbox > a > button {
    /* float: left; */
    color: aliceblue;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(27, 27, 27);
    padding: 18px 35px;
    border-radius: 6px;
    border: solid 1px black;
}

.blackbox > a > button:hover {
    color: black;
    background-color: rgb(204, 204, 204);
    transition-duration: 0.5s;
    box-shadow: 2px 3px 1px 1px rgb(112, 112, 112);
    cursor:pointer;
    
}

/* ******************************  GREEN SIDE */

.green{
    width: 100%;
    border: 1px solid red;
    /* background-color:rgb(145, 219, 167); */
    background-color:rgb(141, 141, 141);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.greenbox{
    width: 100%;
    max-width:540px;
    display: inline-block; /* CONTENT MOVED WITH THE WINDOW*/
    margin: 0px 200px;
    border: 1px solid rgb(0, 255, 21);
}

.greenbox > span {   /*SPAN DO NOT LET ALIGN ITSELF*/
    font-size: 16px;
    font-weight: lighter;
    color: rgb(70, 70, 70);
}

.greenbox > h3 {
    font-size: 24px;
    font-weight:750;
    color: rgb(0, 0, 0);
    margin-top: 5px;
}

.greenbox > h4{
    text-align: left;
    font-size: 21px;
    font-weight: 540;
    color: black;
    margin-bottom: 15px;
}

.greenbox > p {
    text-align: left;
    font-size: 17px;
    font-weight: lighter;
    color: rgb(48, 48, 48);
    margin-bottom: 30px;
    line-height: 26px;
}

.greenbox > h5{
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0px;
}

/* ****************************** ROTATING IMAGES */

#rotating1 {
    /* border: solid 1px blanchedalmond; */
    transform: rotate(-4deg); /* rotate the image */
    margin-left: 60px;
    margin-bottom: 50px;
    margin-top: 20px;
}

#rotating2 {
    /* border: solid 1px rgb(240, 8, 8); */
    transform: rotate(3deg) translate(-90px,-260px); /* rotate the image */

}

.greenbox > div  > ul{
    border: solid 1px red;
    list-style-type:armenian;
}

/* ************************** BLACK BOX 2  */


.black2{
    width: 100%;
    border: 1px solid red;
    background-color: rgb(0, 0, 0);
    padding-top: 80px;
    padding-bottom: 0px;
    text-align: center;
}

.blackbox2{
    width: 100%;
    max-width:540px;
    display: inline-block; /* CONTENT MOVED WITH THE WINDOW*/
    margin: 0px 200px;
    border: 1px solid rgb(0, 255, 21);
}

.blackbox2 > h3 > span > div{   /*SPAN DO NOT LET ALIGN ITSELF*/
    background-color: rgb(185, 170, 238);
    transform: rotate(-4deg);
    width: 35px;
    color: black;
    display: inline-block;
    
    
}

.blackbox2 > h3 {
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: left;
    font-size: 28px;
    font-weight:750;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.blackbox2 > h4{
    text-align: left;
    font-size: 22px;
    font-weight: 540;
    color: rgb(202 179 250);
    margin-top: 40px;
    margin-bottom: 15px;
}

.blackbox2 > p {
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(219, 218, 218);
    margin-bottom: 30px;
    line-height: 28px;
    
}

.blackbox2 > h1{
    text-align: left;
    font-size: 22px;
    font-weight: 540;
    color: rgb(202 179 250);
    margin-top: 40px;
    margin-bottom: 15px;
}

#spacebt{
    line-height: 26px;
}

/* .pinkbox > h5{
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0px;
} */

.blackbox2 > a > button {
    /* float: left; */
    color: aliceblue;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(27, 27, 27);
    padding: 18px 35px;
    border-radius: 6px;
    border: solid 1px black;
}

.blackbox2 > a > button:hover {
    color: black;
    background-color: rgb(204, 204, 204);
    transition-duration: 0.5s;
    box-shadow: 2px 3px 1px 1px rgb(112, 112, 112);
    cursor:pointer;
    
}

/* buttons style ************* */

#whitebuton{
    color: black;
    background-color: aliceblue;
    padding: 16px 50px;
    font-size: 16px ;
    font-weight: 500;
    margin-bottom: 8px;
}

#whitebuton:hover {
    background-color: rgb(185, 185, 185);
    box-shadow: 0 0 0 0;
    transition-duration: 0.3s;
}



#blackbuton{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 16px 29px;
    font-size: 16px ;
    font-weight: 500;
    margin-bottom: 8px;
    border: solid 1px rgb(80, 80, 80);
}

#blackbuton:hover {
    border: solid 1px white;
    box-shadow: 0 0 0 0;
    transition-duration: 0.3s;
}


/* ***** PHOTOGRAPH STYLISH */

#photobackgr1{
    width: 180px;
    height: 180px;
    border: solid 1px white;
    transform: rotate(2deg) translate(100px,0px);
    background-color: white ;

}

#rotating3{
    transform: rotate(0deg) translate(2px,18px);
}

/* translate(-90px,-260px);; rotate the image */

#photobackgr2{
    width: 180px;
    height: 180px;
    border: solid 1px white;
    transform: rotate(-5deg) translate(230px,25px);
    background-color: white ;
}

#rotating4{
    transform: rotate(0deg) translate(2px,25px);
}

#screwlogo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}