/* size for font

 hover efect on icons

 hover effect for font
*/

.footpage{
    background-color: rgb(20, 20, 20);
    padding: 20px 20px ;
}

#list-space{
    /* border: solid 1px red; */
    padding: 6px 0px;
    font-size: 13px;
        /* padding-bottom: 18px; */
}

#list-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
    margin-top: 15px;

}

#descrip-title {
    padding-bottom: 18px;
}

/* *****  FLAGS */

.flagstl1{
    border-top: solid 1px gray;
    background-color: blueviolet;
}