.path{
    display: flex;
    flex-direction: row;
    background-color: rgb(29, 28, 28);
    justify-content: baseline;
    /* border: 2px solid rgb(255, 255, 255); */
    /* padding-top: 50px; */
    /* float: left; */
    padding: 20px 60px;
    /* width: 100%; */
    font-size: 14px;
}

.path div{
    /* border: 2px solid rgb(255, 255, 255); */
    text-align: center;
    width: 70px;
    height: 20px;
    /* margin: 5px; */
    /* float: left; */
    /* padding-right: 20px; */
}

#add1{
    width: 30px;
    text-align: left;
}

@media (max-width: 768px){
    .path{
        background-color: blueviolet;
    }
}