.bepath{
    background-color: rgb(29, 28, 28);
}

.path{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(29, 28, 28); */
    max-width: 80%;
    /* justify-content: center; */

    /* border: 2px solid rgb(255, 255, 255); */
    /* padding-top: 50px; */
    /* float: left; */
    padding: 20px 15%;
    /* width: 100%; */
    font-size: 14px;
}

.path div{
    /* border: 2px solid rgb(255, 255, 255); */
    text-align: center;
    width: 70px;
    height: 20px;
    /* margin: 5px; */
    /* float: left; */
    /* padding-right: 20px; */
}

#add1{
    width: 30px;
    text-align: left;
}

#add2{
    display:none;

}


@media (max-width: 768px){
    .path{
        /* background-color: blueviolet;       */
        padding: 12px 10px;
    }
    .path div{
        width: 40px;
        /* height: 20px; */
    }

    #hide{
        display: none;
        /* visibility: hidden; */
    }

    #add1{
        display: none;

    }

    #add2{
        display:inline-block;

    }
}