body{
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}

.padded{
    padding-left: 5%;
    padding-right: 5%;
}

.titlecls {
    font-weight:normal;
    /* color: blue; */
    padding-left: 5%;
    padding-right: 5%;
}

.bacwhite {
    background-color: rgba(167, 167, 167, 0.418);
}


#parrid {  /* USING ID */
    font-size: 10px;
}

.card{
    background-color: rgba(0, 0, 0, 0.979);
    color: black;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(241, 241, 241, 0.425);
    border-radius: 15px;
    width: 40%; /* optional*/
    text-align: center;
    padding: 35px;
}

.halo-card:hover {
    /* transform: translateY(-10px); */  /* Moving the box*/
    box-shadow: rgb(155, 153, 153) 0px 3px 15px 2px;
    transition: all ease 0.4s;

}
