body{
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}

/* SPACES */

.paddiv{
    padding: 32px;
}

/* TITLES  */

.best {
    color: rgb(255, 255, 255);
    margin-top: 1px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    width: 90px;
    height: 20px;
    background-color: rgba(209, 208, 208, 0.438);

}

.padded{
    padding-left: 5%;
    padding-right: 5%;
}

.titlemargin{
    margin-bottom: 36px;
}

.titlegeneral {
    font-size: 26px;
    font-weight: 540;
}

.titlesecondary {
    font-size: 18px;
    font-weight: 300;
}

.texthighed{
    font-size: 21px;
    font-weight: 200;
}

/*BACKGROUNDS */

.backwhite {
    background-color: rgba(255, 255, 255, 0.521);
    /* box-shadow: rgb(184, 182, 182) 0px 1px 10px 2px; */
    padding: 50px 150px;
}

.backround {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.521);
    /* box-shadow: rgb(184, 182, 182) 0px 1px 10px 2px; */
    padding: 50px 50px;
    margin: 20px 20px;
}


#parrid {  /* USING ID */
    font-size: 10px;
}


/* CARDS DESIGN */
.card{
    background-color: rgba(0, 0, 0, 0.979);
    color: black;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(241, 241, 241, 0.425);
    border-radius: 15px;
    width: 40%; /* optional*/
    text-align: center;
    padding: 35px;
}

.halo-card:hover {
    /* transform: translateY(-10px); */  /* Moving the box*/
    box-shadow: rgb(155, 153, 153) 0px 3px 15px 2px;
    transition: all ease 0.3s;

}
